{% extends "InvoiceBundle:Default:index.html.twig" %}

{% block title %}Seller Show{% endblock %}

{% block body %}<div>
        <h1>This is your chosen seller: {{seller.name}}</h1>
        <h2>Nip: {{seller.nip}}</h2>
        <h2>Bank: {{seller.bank}}</h2>
        <h2>Account number: {{seller.accountNumber}}</h2>
        <h3><a href="/sellerForm/{{id}}">Edit seller info</a></h3>
        {% if addresses | length > 0  %}
            <h1>The address for this seller is:</h1>
            {% for address in addresses %}
                <h2>City: {{address.city}}</h2>
                <h2>Street: {{address.street}} {{address.streetNumber}}/{{address.flatNumber}}</h2>
                <h2>Zip code: {{address.zipcode}}</h2>
                <h2>Country: {{address.country}}</h2>      
                <h3><a href="/addressForm/{{address.id}}/seller/{{seller.id}}">Edit seller address</a></h3>
            {% endfor %}
        {% else %}
            <h3><a href="/addressForm/0/seller/{{seller.id}}">Set address</a></h3>
        {% endif %}   
        <h4><a href="/sellerList">Go back to list</a></h4></div>
    {{ render(controller(
        'InvoiceBundle:Seller:userAdd',
        { 'sellerId': 2 }
    )) }}
{% endblock %}